<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
    <title>Price history</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <style>
    	table {
    	font-family: arial, sans-serif;
   		border-collapse: collapse;
    	width: 100%;
		}

		td, th {
    	border: 1px solid #dddddd;
    	
    	padding: 8px;
		}

		tr:nth-child(even) {
    	background-color: #dddddd;
		}
    </style>
	</head>
	<body>
	
	<div class="container">
		<div>
			<h1>INFO</h1>
			
			<table>
				<caption>Price History</caption>
				<tr>
					<th>Id</th>
					<th>refID_coin</th>
					<th>Open Price</th>
					<th>Close Price</th>
					<th>High Price</th>
					<th>Low Price</th>
				</tr>
				<tr th:each="coinInfo : ${info}">
					<td th:text="${coinInfo.id}"></td>
					<td th:text="${coinInfo.coinId}"></td>
					<td th:text="${coinInfo.openprice}"></td>
					<td th:text="${coinInfo.closeprice}"></td>
					<td th:text="${coinInfo.highprice}"></td>
					<td th:text="${coinInfo.lowprice}"></td>
				</tr>
			</table>
		</div>
	</div>
	
	
	</body>
</html>